:root {
  --black: #09090b;
  --white: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: hsl(240, 6%, 10%);
  --overlay: hsla(240, 6%, 10%, 0.8);
  --matisse-50: #f0faff;
  --matisse-100: #e0f3fe;
  --matisse-200: #bae5fd;
  --matisse-300: #7dcffc;
  --matisse-400: #38b4f8;
  --matisse-500: #0e9be9;
  --matisse-600: #0281c7;
  --matisse-700: #0369a1;
  --matisse-800: #075885;
  --matisse-900: #0c4b6e;
  --matisse-950: #083249;
}
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Supreme-Variable, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Supreme-Variable';
  src: url('/assets/fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
p {
  font-size: 1rem;
  text-wrap: balance;
}
/* mobile-navbar {} */
.headerContactInfo {
  display: none;
}

@media (min-width: 768px) {
  .headerContactInfo {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding: 0.475rem;
    background-color: #0369a1;
    color: var(--white);
    font-size: 0.875rem;
  }
}
.navbarInfo {
  display: grid;
  align-items: center;
  gap: 0.75rem;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-width: 2px;
  border-color: var(--white);
  padding: 0.875rem;
}
.navbarInfoBrand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}
.menuSelector {
  display: none;
}
/* .navbar-infoLinks {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
} */
.navbarInfoLinks > a {
  padding: 0.75rem;
  background: transparent;
  text-decoration: none;
  color: var(--black);
}
.navbar-infoLinks > a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.navbarInfoAction {
  padding: 0.75rem;
}
.navbarInfoAction button {
  display: flex;
  align-items: center;
  color: var(--white);
  background: #0369a1;
  border: 1px solid #0369a1;
  border-radius: 0.2rem;
  padding: 0.625rem 0.875rem;
}

@media (min-width: 768px) {

  .navbarInfo {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbarInfoBrand p:last-of-type {
    display: none;
  }
  .navbarInfoLinks {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
  }
  .navbarInfoAction {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menuSelector {
    display: flex;
  }
}

/* End of Header */

/* Hero Section */
#hero {
  width: 100%;
  height: 100dvh;
  position: relative;
}
/* Content section refers to the text within the image overlay. */
.heroContent {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  z-index: 0;
}
/* Content section refers to the filter layer above the image. */
.heroOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  position: absolute;
  z-index: -10;
}
/* Content section refers to the filter layer above the image. */
.heroMedia {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  z-index: -20;
}
.heroContentGrid {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(1, 1fr);
}

.heroContentGridItem1 h1 {
  color: var(--white);
  font-size: 3rem; /* 48px */
  line-height: 1;
  text-wrap: balance;
}
.heroContentGridItem1 p {
  color: var(--white);
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin-top: 0.5rem;
}
.heroContentGridItem1 button {
  margin-top: 1.5rem;
  color: var(--black);
  padding: 0.75rem 0.625rem;
  border-radius: 0.125rem;
  border: transparent;
}
.heroContentGridItem2 {
  /* This is for the filter pannel inside grid */
  min-height: 20rem;
  background-color: var(--white);
  padding: 3rem;
  border-radius: 2rem; /* 12px */
}

.heroContentGridItem2 h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  color: var(--black);
}
.heroContentGridItem1 p {
  color: var(--white);
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.025em;
  margin: 0rem;
  padding: 0rem;
  border-radius: 0.5rem;
  border-color: var(--gray-500);
}
form {
  margin: 2rem 0rem;
}
form div {
  display: flex;
  gap: 0.25rem;
  align-items: start;
  flex-direction: column;
  margin-top: 1rem;
}
form div label {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: -0.025em;
  font-weight: 600;
  color: var(--gray-700);
  margin-bottom: 0.25rem;
}
form div:first-of-type {
  margin-top: 2rem;
}
form div input[type="text"] {
  width: 100%;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 0.5rem 0.5rem; /* 16px */
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem; /* 8px */
  color: var(--gray-700);
}
form div input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  border-radius: 100rem;
  transition: opacity .2s;
}

form .priceRange span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--gray-700);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
form .priceRange span p {
  font-size: 0.875rem; /* 14px */
  line-height: 0.875rem; /* 20px */
  text-transform: capitalize;
  letter-spacing: -0.025em;
  }

  form div input[type="submit"] {
    display: flex;
    align-items: center;
    color: var(--white);
    background: var(--matisse-600);
    border: 1px solid var(--matisse-600);
    border-radius: 0.2rem;
    padding: 0.625rem 0.875rem;
  }
form div:last-of-type {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  #hero {
    min-height: 85dvh;
  }
  .heroContentGrid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75rem;
    margin: 0rem auto;
  }
}
