:root {
  --black: #09090b;
  --white: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: hsl(240, 6%, 10%);
  --overlay: hsla(240, 6%, 10%, 0.8);
  --matisse-50: #f0faff;
  --matisse-100: #e0f3fe;
  --matisse-200: #bae5fd;
  --matisse-300: #7dcffc;
  --matisse-400: #38b4f8;
  --matisse-500: #0e9be9;
  --matisse-600: #0281c7;
  --matisse-700: #0369a1;
  --matisse-800: #075885;
  --matisse-900: #0c4b6e;
  --matisse-950: #083249;
}
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Supreme-Variable, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Supreme-Variable';
  src: url('/assets/fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
h2 {
  font-size: 2rem; /* 48px */
  line-height: 1;
  letter-spacing: -0.025rem;
}
h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: -0.025rem;
}
p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/* mobile-navbar {} */
.headerContactInfo {
  display: none;
}

@media (min-width: 768px) {
  .headerContactInfo {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding: 0.475rem;
    background-color: #0369a1;
    color: var(--white);
    font-size: 0.875rem;
  }
}
.navbarInfo {
  display: grid;
  align-items: center;
  gap: 0.75rem;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-width: 2px;
  border-color: var(--white);
  padding: 0.875rem;
}
.navbarInfoBrand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}
.menuSelector {
  display: none;
}
.navbarInfoLinks > a {
  padding: 0.75rem;
  background: transparent;
  text-decoration: none;
  color: var(--black);
}
.navbar-infoLinks > a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.navbarInfoAction {
  padding: 0.75rem;
}
.navbarInfoAction button {
  display: flex;
  align-items: center;
  color: var(--white);
  background: #0369a1;
  border: 1px solid #0369a1;
  border-radius: 0.2rem;
  padding: 0.625rem 0.875rem;
}

@media (min-width: 768px) {
  .navbarInfo {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbarInfoBrand p:last-of-type {
    display: none;
  }
  .navbarInfoLinks {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
  }
  .navbarInfoAction {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menuSelector {
    display: flex;
  }
}

/* Landing Page Home • Start */

/* Landing Page Home • Mobile */
#hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-20%, -20%);
  z-index: 2; /* Ensure content is on top */
}
.hero-grid {
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
}
.hero-grid-item:first-of-type {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: var(--white);
}
.hero-grid-item:first-of-type h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
  letter-spacing: -0.025em;
}
.hero-grid-item:first-of-type button {
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: -0.025rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
}
.hero-grid-item:first-of-type button {
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: -0.025rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
}
.hero-grid-item:last-of-type {
  padding: 2rem 1.5rem;
  height: 100%;
  background-color: var(--white);
}

.hero-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1; /* Ensure filter is between content and media */
}

.hero-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover; /* Ensure image covers the whole section */
  object-position: center;
  z-index: 0; /* Ensure image is at the bottom */
}

/* Landing Page Home • Desktop */
@media (min-width: 724px) {
  .hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-content {
    top: 40%;
  }
}

/* Featured Properties: Start */

/* Featured Properties: Mobile Version */
.featuredProperties {
  max-width: 95%;
  margin: 4rem auto;
}
.featuredPropertiesGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
}
.featuredPropertiesGrid div {
  padding: 2rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem; /* 8px */
  background-color: var(--gray-100);
}
/* Featured Properties: Tablet Version */
@media (min-width: 768px) {
  .featuredPropertiesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Featured Properties: Desktop Version 
    @media (min-width: 1024px) {}
*/
