:root {
  --black: #09090b;
  --white: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: hsl(240, 6%, 10%);
  --overlay: hsla(240, 6%, 10%, 0.8);
  --matisse-50: #f0faff;
  --matisse-100: #e0f3fe;
  --matisse-200: #bae5fd;
  --matisse-300: #7dcffc;
  --matisse-400: #38b4f8;
  --matisse-500: #0e9be9;
  --matisse-600: #0281c7;
  --matisse-700: #0369a1;
  --matisse-800: #075885;
  --matisse-900: #0c4b6e;
  --matisse-950: #083249;
}
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Supreme-Variable, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Supreme-Variable';
  src: url('/assets/fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
h2 {
  font-size: 2rem; /* 48px */
  line-height: 1;
  letter-spacing: -0.025rem;
}
h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: -0.025rem;
}
p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/* 
  Navigation Pannel • Start 
  ----------------------------------------
*/
.navbar {
  background-color: var(--white);
}

/* Navigation Pannel • Mobile */

.navbarContact {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  color: var(--gray-100);
  background-color: var(--matisse-700);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  padding: 0.25rem;
  display: none;
}
.navbarContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
}
.navbarBrand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarLinks {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 1rem 0rem;
  gap: 1rem;
}
.navbarLinks a {
  color: var(--matisse-700);
  text-decoration: none;
}
.navbarLinks a:hover {
  text-decoration: underline;
}
.navbarLinks a:active {
  color: var(--matisse-950);
}
.navbarAction button {
  width: 100%;
  letter-spacing: -0.025rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.menuSelector {
  display: none;
}

/* Navigation Pannel • Tablet */
@media (min-width: 724px) {
  .navbarContact {
    display: flex;
  }
  .navbarContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .menuSelector {
    display: block;
  }
  .navbarBrand p:last-of-type {
    display: none;
  }
  .navbarLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
  .navbarAction {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbarAction button {
    width: auto;
    color: var(--white);
    font-size: 0.875rem;
    letter-spacing: -0.025rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--matisse-700);
    background-color: var(--matisse-700);
  }
}
/* Navigation Pannel • Start */

/* Hero Page Home • Start */

/* Hero Page Home • Mobile */
#hero {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Adjust as needed */
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-20%, -20%);
  z-index: 2; /* Ensure content is on top */
}
.hero-grid {
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
}
.hero-grid-item:first-of-type {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: var(--white);
}
.hero-grid-item:first-of-type h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
  letter-spacing: -0.025em;
}
.hero-grid-item:first-of-type button {
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: -0.025rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
}
.hero-grid-item:first-of-type button {
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: -0.025rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
}
.hero-grid-item:last-of-type {
  padding: 2rem;
  height: 100%;
  background-color: var(--white);
  border-radius: 2rem;
}
.hero-grid-item:last-of-type h2 {
  letter-spacing: -0.025rem;
}
.hero-grid-item:last-of-type p {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
form div:first-of-type {
  margin-top: 1rem;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
form div label {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: -0.025em;
  font-weight: 600;
}
form div input[type='text'] {
  border-radius: 0.25rem;
  padding: 0.5rem; /* 14px */
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
}
form input[type='submit'] {
  border-radius: 0.5rem;
}
form .priceRange span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form div input[type='submit'] {
  display: flex;
  align-items: center;
  color: var(--white);
  background: var(--matisse-600);
  border: 1px solid var(--matisse-600);
  border-radius: 0.2rem;
  padding: 0.625rem 0.875rem;
}
form div:last-of-type {
  margin-top: 2rem;
}

.hero-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1; /* Ensure filter is between content and media */
}

.hero-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover; /* Ensure image covers the whole section */
  object-position: center;
  z-index: 0; /* Ensure image is at the bottom */
}

/* Hero Page Home • Desktop */
@media (min-width: 724px) {
  .hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-content {
    top: 30%;
  }
}

/* Featured Properties: Start */

/* Featured Properties: Mobile Version */
.featuredProperties {
  max-width: 95%;
  margin: 4rem auto;
}
.featuredPropertiesGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
}
.featuredPropertiesGrid div {
  padding: 2rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem; /* 8px */
  background-color: var(--gray-100);
}
/* Featured Properties: Tablet Version */
@media (min-width: 768px) {
  .featuredPropertiesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Featured Properties: Desktop Version 
    @media (min-width: 1024px) {}
*/
